<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="/" class="logo">
                REVE
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <div class="nav pull-right top-menu">
                <a href="/admin/reve/logout" class="disconect">
                    Deconnection
                </a>
            </div>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/admin/reve">
                            <i class="fa fa-dashboard"></i>
                            <span>Tableau de Bord</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Gestion Primaire</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/reve/createTheme">Creation de Thème</a></li>
                            <li><a href="/admin/reve/createODD">Creation de ODD</a></li>
                            <li><a href="/admin/reve/createArticle">Creation d'Article</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Gestion Secondaire</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/reve/createGalery">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>Bibliothèque</span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Aucune Idéé</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            <span>Mail </span>
                        </a>
                    </li>
                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="container">
                <div class="row">
                    <form action="/admin/reve/gal" method="POST" class="imgGab" enctype="multipart/form-data">
                        <input type="file"
                               class="filepond"
                               name="filepond"
                               multiple>
                        <input type="submit" class="btn btn-black" value="Envoyer">
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    {{#each info.images}}
                        <div class="col-md-3 col-xs-6 imgGall">
                            <img src="/images/{{nom_image}}" alt="">
                            <p>{{nom_image}}</p>
                        </div>
                    {{/each}}

                </div>
            </div>
        </section>
        <!-- footer -->
        <div class="footer">
            <div class="wthree-copyright">
                <p>© 2019 Reve</p>
            </div>
        </div>
        <!-- / footer -->
    </section>
    <!--main content end-->
</section>