<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500" rel="stylesheet">

      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/mdb.min.css" rel="stylesheet">

      <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

      <link href="/stylesheets/owl.carousel.css" rel="stylesheet">
      <link href="/stylesheets/owl.theme.default.min.css" rel="stylesheet">

      <link href="/stylesheets/offcanvas.min.css" rel="stylesheet">
      <link href="/stylesheets/swiper.min.css" rel="stylesheet">

      <link href="/stylesheets/style.css" rel="stylesheet">
      <link href="/stylesheets/style1.css" rel='stylesheet' type='text/css' />
      <link href="/stylesheets/style-responsive.css" rel="stylesheet"/>
      <link href="/stylesheets/filepond.css" rel="stylesheet"/>
      <!-- font CSS -->
      <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
      <!-- font-awesome icons -->
      <link rel="stylesheet" href="/stylesheets/font.css" type="text/css"/>
      <link href="/stylesheets/font-awesome.css" rel="stylesheet">
      <link href="/stylesheets/data.css" rel="stylesheet">
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/popper.min.js"></script>
      <script src="/javascripts/raphael-min.js"></script>
      <script src="/javascripts/jquery.dcjqaccordion.2.7.js"></script>
      <script src="/javascripts/scripts.js"></script>
      <script src="/javascripts/filepond.js"></script>
      <script src="/javascripts/preview.js"></script>
      <script src="/javascripts/owl.carousel.js"></script>
      <script src="/javascripts/offcanvas.min.js"></script>

      <!-- Bootstrap -->
      <script src="/javascripts/bootstrap.min.js"></script>
      <script src="/javascripts/mdb.min.js"></script>

      <!-- Theme Script File-->
      <script src="/javascripts/swiper.min.js"></script>
      <script src="/javascripts/tiny.js"></script>

      <script src="/javascripts/script.js"></script>
      <script>
          function short(data) {
              document.write(data.substring(0,25));
          }
          function medium(data) {
              document.write(data.substring(0,55));
          }
          function long(data) {
              document.write(data.substring(0,105));
          }
      </script>
      <script src="/javascripts/data.js"></script>
  </head>
  <body>
    {{{body}}}


    <!-- Owl carousel -->

    <!-- Off Canvas Menu -->

  </body>
</html>
